@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<h1>Your account</h1>
<hr />

<div class="d-flex flex-row col-md-12 my-3">
    <a class="btn bg-primary text-white col-md-3 mx-5" asp-area="" asp-controller="ApplicationUser" asp-action="MyOrders">My Orders</a>
    <a class="btn bg-primary text-white col-md-3 mx-5" asp-area="" asp-controller="ApplicationUser" asp-action="MyCatches">My Catches</a>
    <a class="btn bg-primary text-white col-md-3 mx-5" asp-area="" asp-controller="ApplicationUser" asp-action="MyCart">My Cart</a>
</div>

<div class="my-5">
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
