body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.cont-element {
    opacity: 0.6;
}

.section {
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .section img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .section h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .section p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .section .btn {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 3px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .section .btn:hover {
            background-color: black;
        }
