@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="offset-3 col-md-6 text-center bg-primary rounded-5 text-white my-5">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="m-5">
        <h1>@ViewData["Title"]</h1>
        <h2>Create a new account.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating my-5 mt-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating my-5 mt-3">
            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.UserName"></label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating my-5">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating my-5 mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <hr />
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg bg-white text-primary mb-5">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
