

<div class="col-md-4 offset-4 bg-primary text-white text-center rounded-pill d-flex my-5">
    <p class="h2 mx-auto my-4 text-center">Administration</p>
</div>

<div class="col-md-6 offset-3 bg-primary text-white text-center rounded-pill d-flex my-5">
    <p class="h4 mx-auto my-4 text-center">As an administrator you have the option to manage a lot of things in the application including products, reports, catches and spots</p>
</div>

<div class="text-center">
    <a class="btn bg-primary text-white col-md-4 my-4 mx-3" asp-area="Administration" asp-controller="Products" asp-action="Index">Products</a>
    <a class="btn bg-primary text-white col-md-4 my-4 mx-3" asp-area="Administration" asp-controller="Reports" asp-action="Index">Reports</a>
    <a class="btn bg-primary text-white col-md-4 my-4 mx-3" asp-area="Administration" asp-controller="Catches" asp-action="Index">Catches</a>
    <a class="btn bg-primary text-white col-md-4 my-4 mx-3" asp-area="Administration" asp-controller="Spots" asp-action="Index">Spots</a>
</div>