
<div class="text-center col-md-12 d-flex flex-row">

    <img class="col-md-5" src="~/animations/errorPage404.gif" alt="errorPageGif" />
    <div class="d-flex flex-column col-md-7">
        <h1 class="text-primary font-weight-bold rounded-4 col-md-4 offset-4 mt-auto">Error 404</h1>
        <h2 class="text-primary font-weight-bold rounded-4 col-md-8 offset-2 my-5">Oops you weren`t supposed to see this!</h2>
        <a class="btn bg-primary text-white offset-4 col-md-4 text-center mb-auto" asp-controller="Home" asp-action="Index">Home Page</a>
    </div>
</div>