@using FishingMania.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="bg-primary m-5 col-md-4 mx-auto rounded-pill">
        <h1 class="text-white text-center"><strong>Home Page</strong></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="section bg-primary rounded-4">
                <img src="path_to_image_1.jpg" alt="Image 1">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="section bg-primary rounded-4">
                <img src="path_to_image_2.jpg" alt="Image 2">
                <h2>Section 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="section bg-primary rounded-4">
                <img src="path_to_image_3.jpg" alt="Image 3">
                <h2>Section 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>
</div>