@using FishingMania.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="container col-md-12 my-3 text-center">
        <img class="w-100 gradientify rounded-5" src="~/img/other/homePageShopBackgroundImage.png" />
        <div class="card-img-overlay col-md-4 font-weight-bold rounded-5 ml-auto mr-5 my-5 bg-dark bg-opacity-75">
            <p class="text-white m-5 mb-4">
                You are searching for new fishing rods, lines, tackles and more... Just go check our web store and I am sure something will catch your eye. We only sell the best fishing products that are available on the market.
            </p>
            <a class="btn bg-white text-dark col-md-10" asp-controller="Home" asp-action="Store">Online Store</a>
        </div>
    </div>
    <div class="container col-md-12 my-3 text-center">
        <img class="w-100 gradientify rounded-5" src="~/img/other/homePageSpotBackground.jpg" />
        <div class="card-img-overlay col-md-4 font-weight-bold rounded-5 mr-auto ml-5 my-5 bg-dark bg-opacity-75">
            <p class="text-white m-5 mb-4">
                If you are searching for new place to go fish on just click the button below and you will see the best fishing spots. We know you love adventures so don't waste another minute.
            </p>
            <a class="btn bg-white text-dark col-md-10" asp-controller="FishingSpots" asp-action="All">Spots</a>
        </div>
    </div>
    <div class="container col-md-12 my-3 text-center">
        <img class="w-100 gradientify rounded-5" src="~/img/other/homePageCatchBackground.jpg" />
        <div class="card-img-overlay col-md-4 font-weight-bold rounded-5 ml-auto mr-5 my-5 bg-dark bg-opacity-75">
            <p class="text-white m-5 mb-5">
                Post your fishing catches with others so we know where the big fishes are ;-)
            </p>
            <a class="btn bg-white text-dark col-md-10" asp-controller="Catches" asp-action="All">Catches</a>
        </div>
    </div>
</div>
