<div class="container-fluid d-flex flex-row col-md-12 mt-5">
    <div class="container col-md-4 my-3 text-center align-items-center rounded-5">
        <img class="w-100 gradientify rounded-5 card-img" src="~/img/other/saltWaterFishingStoreHome.jpg" style="height:1000px;"/>
        <div class="card-img-overlay col-md-10 font-weight-bold rounded-5 bg-dark mb-auto mx-auto mt-5 bg-opacity-75 h-25">
            <p class="text-white m-3 mb-4">
                You are searching for new fishing rods, lines, tackles and more... Just go check our web store and I am sure something will catch your eye. We only sell the best fishing products that are available on the market.
            </p>
            <a class="btn bg-white text-dark col-md-10" asp-controller="Products" asp-action="All">All Products</a>
        </div>
    </div>

    <div class="container col-md-4 m-3 text-center align-items-center rounded-5">
        <img class="w-100 gradientify rounded-5 card-img" src="~/img/other/forestFishingStore.jpg" style="height:1000px;" />
        <div class="card-img-overlay col-md-10 font-weight-bold rounded-5 bg-dark mx-auto my-auto bg-opacity-75 h-25">
            <p class="text-white mx-5 mt-5 mb-4">
                If you are searching for something specific like reel, rod or fishing line you can directly navigate to them from here.
            </p>
            
            <a class="btn bg-white text-dark col-md-3 mx-1"
               asp-controller="Products"
               asp-action="All"
               asp-route-selectedCategoryId="1">Rods</a>
            <a class="btn bg-white text-dark col-md-3 mx-1"
               asp-controller="Products"
               asp-action="All"
               asp-route-selectedCategoryId="2">Reels</a>
            <a class="btn bg-white text-dark col-md-3 mx-1"
               asp-controller="Products"
               asp-action="All"
               asp-route-selectedCategoryId="3">Lines</a>
        </div>
    </div>

    <div class="container col-md-4 my-3 text-center align-items-center rounded-5">
        <img class="w-100 gradientify rounded-5 card-img" src="~/img/other/fishermanStorePhoto.jpg" style="height:1000px;" />
        <div class="card-img-overlay col-md-10 font-weight-bold rounded-5 bg-dark mt-auto mx-auto mb-5 bg-opacity-75 h-25">
            <p class="text-white m-3 mb-4">
                Have any questions or need assistance? Feel free to reach out to our friendly customer support team. We're here to help you find the perfect fishing gear and answer your questions.
            </p>
            <a class="btn bg-white text-dark col-md-10" asp-controller="Products" asp-action="All">Contact Us</a>
        </div>
    </div>

</div>