@using FishingMania.Web.ViewModels.FishingSpot;
@model FishingSpotEditFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FishingSpot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishingSpotType" class="control-label"></label>
                <select asp-for="FishingSpotType" asp-items="ViewBag.FishingSpotTypes" class="form-control"></select>
                <span asp-validation-for="FishingSpotType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="h5" asp-for="ImageFile"></label>
                <input asp-for="ImageFile" class="form-control-file" accept=".jpg,.jpeg,.png" onchange="previewImage(event)" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>

                <div class="form-group">
                    <img id="imagePreview" src="#" alt="Preview Image" style="display: none; max-width: 100%;" />
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletedOn" class="control-label"></label>
                <input asp-for="DeletedOn" class="form-control" />
                <span asp-validation-for="DeletedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn bg-primary text-white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn bg-primary text-white" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/showPhotoWhenUploaded.js"></script>
    <script src="~/js/jquery-override.js" asp-append-version="true"></script>
}
