@using FishingMania.Web.ViewModels.FishingSpot;
@model List<FishingSpotViewModel>
@{
    this.ViewData["Title"] = "Fishing Spots Page";
}

<h1 class="text-primary text-center m-5"><strong>All fishing spots!</strong></h1>

<div class="d-flex">
    @foreach (var spot in Model)
    {
        <partial name="~/Views/Shared/FishingSpots/_FishingSpotPartialView.cshtml" for="@spot"/>
    }
</div>