@using FishingMania.Web.ViewModels.FishingSpot;
@model FishingSpotByTypeViewModel

<div>
    <h1 class="text-primary text-center m-5"><strong>@this.ViewData["Title"]</strong></h1>
    <div class="container col-md-12 my-5">
        <img class="w-100 gradientify rounded-5" src="@Model.SpotTypeImageURL" />
        <div class="card-img-overlay col-md-4 font-weight-bold rounded-5 ml-auto mr-5 my-5 bg-dark bg-opacity-75">
            <p class="text-white m-5">
                @Model.SpotTypeDescription
            </p>
        </div>
    </div>

    <div class="d-flex row">
        @foreach (var spot in Model.FishingSpots)
        {
            <partial name="~/Views/Shared/FishingSpots/_FishingSpotPartialView.cshtml" for="@spot" />
        }
    </div>
</div>