@using FishingMania.Web.ViewModels.FishingSpot;
@model List<FishingSpotViewModel>
@{
    this.ViewData["Title"] = "Rivers Page";
}

<div>
    <h1 class="text-primary text-center m-5"><strong>Rivers to fish on!</strong></h1>
    <div class="container col-md-12 my-5">
        <img class="w-100 gradientify rounded-5" src="https://img.freepik.com/premium-photo/wildlife-summer-europe-river-mountains-hills-morning-fog-mood-trip-is-breathtaking-panorama-view-road-along-river-with-turquoise-water-clean-air-open-spaces_114160-1681.jpg?w=2000" />
        <div class="card-img-overlay col-md-4 font-weight-bold rounded-5 ml-auto mr-5 my-5 bg-dark bg-opacity-75">
            <p class="text-white m-5">
                A river is a natural flowing watercourse, usually a freshwater stream, flowing on the surface or inside caves towards another waterbody at a lower elevation, such as an ocean, sea, bay, lake, wetland, or another river. In some cases, a river flows into the ground or becomes dry at the end of its course without reaching another body of water.
            </p>
        </div>
    </div>

    <div class="d-flex">
        @foreach (var spot in Model)
        {
            <partial name="~/Views/Shared/FishingSpots/_FishingSpotPartialView.cshtml" for="@spot" />
        }
    </div>
</div>