@using FishingMania.Web.ViewModels.Catch;
@model CatchViewModel

<a asp-action="Details" asp-controller="Catches" asp-route-id="@Model.Id" class="post col-md-3 m-5 bg-primary-subtle bg-opacity-25 text-decoration-none text-primary font-weight-bold">
    <div class="post-image">
        <img src="@Model.Image.URL" alt="Fish Image">
        <div class="fish-weight">@Math.Round(Model.FishWeight,3) kg</div>
    </div>
    <div class="post-description">
        <p>@Model.Description</p>
    </div>
</a>
